.listContainer {
    margin: 0;
    padding: 0;
    text-align: center;
	position: fixed;
	top:0;
	left: 0;
	height: 80px;
	display: flex;
	align-items: center;
    z-index: 2000; 
}
    .listContainer svg {
      /*width: 200px;
      height: 150px;*/
      /*width: 180px;
      height: 110px;*/
      width: 100px;
      height: 80px;
      cursor: pointer;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .listContainer path {
      fill: none;
      -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      stroke-width: 20px;
      stroke-linecap: round;
      stroke: #ec407a;
      stroke-dashoffset: 0px; }
    .listContainer path#top, .listContainer path#bottom {
      stroke-dasharray: 240px 950px; }
    .listContainer path#middle {
      stroke-dasharray: 240px 240px; }
  
  .listContainer.cross path {
    stroke: #fff; }
  
  .listContainer.cross path#top,
  .listContainer.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px; }
  
  .listContainer.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px; }
  
  @media screen and (max-width: 740px) {
    .listContainer svg {
      width: 120px;
      height: 64px; }
	}

	@media screen and (max-width: 420px) {
		.listContainer svg {
		  width: 88px;
		  height: 64px; }
		}
	
  /* @media screen and (max-width: 420px) {
    .listContainer {
      width: 120px;
      height: 54px; }
      .listContainer svg {
        width: 86px;
        height: 64px;
        margin-top: -8px;
        margin-left: 30px; } 
      } */