body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif!important;
}

@font-face {
  font-family: 'RobotoThin';
  src: url("./static/font-face/roboto/roboto-thin.eot");
  /* IE9 Compat Modes */
  src: url("./static/font-face/roboto/roboto-thin.eot?#iefix") format("embedded-opentype"), url("./static/font-face/roboto/roboto-thin.woff") format("woff"), url("./static/font-face/roboto/roboto-thin.ttf") format("truetype"), url("./static/font-face/roboto/roboto-thin.svg#RobotoThin") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'QiHei';
  src: url("./static/font-face/qihei/qihei.eot");
  /* IE9 Compat Modes */
  src: url("./static/font-face/qihei/qihei.eot?#iefix") format("embedded-opentype"), url("./static/font-face/qihei/qihei.woff") format("woff"), url("./static/font-face/qihei/qihei.ttf") format("truetype"), url("./static/font-face/qihei/qihei.svg#RobotoThin") format("svg");
  /* Legacy iOS */ }
